#container{
    margin: 0 auto;
    height: 960px;
    width: 960px;
    
}
nav{
    display: flex;
    background-color: black;
    color: white;
    height: 65px;
    border: 2px solid black;
    font-size: 20px;
    margin-top: 50px;
}
nav h1{
    padding-left: 15px;
    padding-bottom: 35px;
}
#container h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 50px;
    margin-top: 10px;
    width: 100%;
}
.mainProfile{
    border: 3px solid black;
    display: inline-block;
    width: 250px;
    height: 400px;
    padding-left: 25px;
    padding-top: 25px;
    margin-top: 0px;
    vertical-align: top;
}
.mainProfile p{
    font-size: 35px;
}
.mainProfile ul{
    list-style: none;
}
#feedMsgs{
    display: inline-block;
    vertical-align: top;
    
}
.feed{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    width: 650px;
    height: 250px;
    margin-bottom: 20px;
    margin-left: 19px;
}
.feed ul li{
    list-style:none;
    display: inline-flex;
    flex-direction: row;
    float: left;
    align-content: space-around;
    margin-left: 100px;
}
.text1, .text2, .text3{
    font-size: 35px;
    padding-left: 15px;
}
button{
    background-color: goldenrod;
    border: 2px solid black;
    box-shadow: 4px 4px 4px black;
    color: black;
    width: 120px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    border-radius: 50%;
    border: 2px solid black;
    align-items: center;
}